# Mandatory
PROJECT_KEY=trujilloai-landing
ENV=

# Optional
AWS_PROFILE=

# Define to override AWS SSM values
# NOTE: The list of parameters and secrets might be outdated
# Parameters
CHATBOT_BEDROCK_AGENT_ID=
CHATBOT_BEDROCK_AGENT_ALIAS_ID=

# Secrets
