files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # WebSocket connection mapping
      map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
      }
      
      # WebSocket connection timeout settings
      proxy_connect_timeout 75s;
      proxy_read_timeout 300s;  # Increase this value for longer WebSocket sessions
      proxy_send_timeout 300s; 
      
      # WebSocket specific headers
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection $connection_upgrade;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;

container_commands:
  01_reload_nginx:
    command: "service nginx reload || service nginx restart"