option_settings:
  # Configure the load balancer to provide WebSocket support
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
    HealthCheckPath: /health
    HealthCheckTimeout: 15
    HealthCheckInterval: 15
    MatcherHTTPCode: 200-499
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '86400'

  # Increase the load balancer timeout for WebSockets
  aws:elbv2:loadbalancer:
    IdleTimeout: 300

  # Configure logs to get more details
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7 